fastapi==0.115.2
uvicorn[standard]==0.30.6
pydantic==2.9.2
pydantic-settings==2.6.1
SQLAlchemy==2.0.36
alembic==1.14.0
python-multipart==0.0.12
httpx==0.27.2
babel==2.15.0
geojson==3.1.0
haversine==2.8.1
pytest==8.3.3
